@model BeerWebbShop.Models.Product

@using (Html.BeginForm("ConfirmOrder", "Home", FormMethod.Post))
{
    <button type="button">Remove product</button>

    <button type="submit">Confirm order </button>
}
