@model User

<div id="password">

    <div id="header">
        <center><h1>Change Password</h1></center>
    </div>
    <div id="form">
        <input type="password" placeholder="New Password" id="password" /> <br><br>
        <input type="password" placeholder="Confirm Password" id="confirm" />
    </div>
</div>


<button type="submit">Change Password </button>

@using (Html.BeginForm("UserPage", "Home", FormMethod.Post))
{
    <br> <br> <br>
    <button type="submit">Back</button>

}