@{
    ViewData["Title"] = "Confirm";
}

<img src="~/images/Thankyou.jpg">


<br><br>
<legend>
    Enter all your details to complete your order!
</legend>

<fieldset>
    <label for="firstname">Firstname</label> <br>
    <input type="text" name="firstname"> <br><br>

    <label for="lastname">Lastname</label> <br>
    <input type="text" name="lastname"><br><br>

    <label for="adress">Address</label> <br>
    <input type="text" name="adress"> <br><br>

    <label for="zipcode">Zipcode</label> <br>
    <input type="text" name="zipcode"> <br><br>

    <label for="city">City</label> <br>
    <input type="text" name="city"><br><br>

    <label for="country">Country</label> <br>
    <input type="text" name="country"><br><br>

    <label for="email">Email</label> <br>
    <input type="email" name="email"> <br><br>

    <button type="button">Confirm your order</button>
</fieldset>
