@model BeerWebbShop.Models.Customer

<img src="~/images/Thankyou.jpg">

<br><br>
<legend>
    Enter all your details to complete your order!
</legend>

<fieldset>
    <label for="FirstName">Firstname</label> <br>
    <input type="text" name="FirstName"> <br><br>

    <label for="LastName">Lastname</label> <br>
    <input type="text" name="lastName"><br><br>

    <label for="Adress">Address</label> <br>
    <input type="text" name="Adress"> <br><br>

    <label for="ZipCode">Zipcode</label> <br>
    <input type="text" name="ZipCode"> <br><br>

    <label for="City">City</label> <br>
    <input type="text" name="City"><br><br>

    <label for="Country">Country</label> <br>
    <input type="text" name="Country"><br><br>

    <label for="Email">Email</label> <br>
    <input type="email" name="Email"> <br><br>

    <button type="button">Confirm your order</button>
</fieldset>

