
<div class="contactpage">
<img src="~/images/beerback5.jpg">
<br><br>
<address>
    Funny Beer<br>
    Brygggatan 20 <br>
    50436 Borås<br>
    Sweden <br>
    <abbr title="Phone">P:</abbr>
    +46712345679
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">funnybeer@hotmail.com</a><br />
</address>
</div>