@model BeerWebbShop.Models.User


<legend>
    Fill in the details below to create a user
</legend>

<div class="addUser">
    <br><br><br>
    <label for="FirstName">Firstname</label><br>
    <input type="text" name="FirstName"><br><br>

    <label for="LastName">Lastname</label><br>
    <input type="text" name="LastName"><br><br>

    <label for="UserName">Username</label><br>
    <input type="text" name="UserName"><br><br>

    <label for="PassWord">Password</label><br>
    <input type="text" name="PassWord"><br><br>

    <label for="Email">Email</label><br>
    <input type="text" name="Email"><br><br>
</div>

<button type="submit">Add user </button>


@using (Html.BeginForm("UserPage", "Home", FormMethod.Post))
{
    <br> <br> <br>
    <button type="submit">Back</button>

}
