


<div class="firstpage" style="max-width:1200px">
    <img class="picture" src="~/images/beerback1.jpg" style="width:100%">
    <img class="picture" src="~/images/beerback4.jpg" style="width:100%">


    <center>
        <hr width="100%" />
        <h1 style="color:rosybrown;">  Tired of boring beer CALM it resolves <p> Buy one or more of our beers and I promise you a real taste sensation!</h1>
    </center>
    <p>
        <font size="2" />
</div>