@model BeerWebbShop.Models.User

@using (Html.BeginForm("UserPage", "Administrator", FormMethod.Post))

{
    <form>
        <br><br><br>
        <div class="login">
            <label for="UserName"><b>Username</b></label> <br>
            <input type="text" placeholder="Enter Username" name="UserName"> <br>


            <label for="PassWord"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="PassWord"><br>

            <input type="submit" value="Sign in" />
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
}

