@model User

@using (Html.BeginForm("UserPage", "Home", FormMethod.Post))

{
    <form>
        <br><br><br>
        <div class="login">
            <label for="uname"><b>Username</b></label> <br>
            <input type="text" placeholder="Enter Username" name="uname" required> <br>


            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required><br>

            <button type="submit">Sign in</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
}

l