
<legend>
    Welcome! Select the option below to link to your choice
</legend>

<label for="optins">Options</label><br>

<select name="forma" onchange="location = this.value;">
<option value="index">Update product</option>
<option value="CreateUser">Crate new user</option>
<option value="ChangePassword">Change your password</option>
</select>