@model BeerWebbShop.Models.Product

<form action="Add product" method="POST" enctype="multipart/form-data">

    <label for="ProductName">product name</label> <br>
    <input type="text" name="ProductName"><br><br>

    <label for="Price">Price</label> <br>
    <input type="text" name="Price"> <br><br>

    <label for="Description">Description</label> <br>
    <input type="text" name="Description"> <br><br>

    <label>Add Image: </label><input type="file" name="Image" /><br><br>

    <input type="submit"/>
</form>


