@model BeerWebbShop.Models.User
<legend>
    Welcome! Select the option below to link to your choice
</legend>



<select name="forma" onchange="location = this.value;">
    <option value="">OPTIONS</option>
    <option value="AddProduct">Add product</option>
    <option value="SearchOrder">Search order</option>
    <option value="CreateUser">Crate new user</option>
    <option value="ChangePassword">Change your password</option>
</select>

 